{% extends "base.html" %}
{% block title %}Log In{% endblock %}

{% block content %}
<br>
<br>
<form method="POST">
    <h3 align="center" class="text-dark">Log In</h3>
    <div class="form-group">
        <label for="email" class="text-dark">Email Address</label>
        <input 
        type="email" 
        class="form-control"
        id="email" 
        name="email" 
        placeholder="Enter email"
        >
    </div>
    <br>
    <div class="form-group">
        <label for="password1" class="text-dark">Password</label>
        <input 
        type="password" 
        class="form-control" 
        id="password1" 
        name="password1" 
        placeholder="Enter Password"
        >
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-danger">Submit</button>
    <br>
    <br>
    <div>
        <a href="/sign-up">Don't have an account? sign up here</a>
    </div>  
</form>
{% endblock %}
