{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<br>
<br>
<form method="POST" class="container">
    <h3 align="center" class="text-dark">Sign Up</h3>
    <div class="form-group">
        <label for="email" class="text-dark">Email Address</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Enter email"
        >
    </div>
    <br>
    <div class="form-group">
        <label for="email" class="text-dark">First Name</label>
        <input 
        type="text" 
        class="form-control" 
        id="firstName" 
        name="firstName" 
        placeholder="Enter First Name"
        >
    </div>
    <br>
    <div class="form-group">
        <label for="password1" class="text-dark">Create Password</label>
        <input 
        type="password" 
        class="form-control" 
        id="password1" 
        name="password1" 
        placeholder="Enter Password"
        >
    </div>
    <br>
    <div class="form-group">
        <label for="password2" class="text-dark">Confirm Password</label>
        <input 
        type="password" 
        class="form-control" 
        id="password2" 
        name="password2" 
        placeholder="Confirm Password"
        >
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-danger">Submit</button>
    <br>
    <br>
    <div>
        <a href="/login">Already have an account? log in here</a>
    </div>
</form>


{% endblock %}

